.odd{
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two{
    colour: rgb(25, 25, 231);
    font-size: 36px;
}

.front-size{
    font-size: 24px;
}

#four{
    background-color: rgb(118, 212, 118);
    font-weight: bold;
}